{{#if vscode}}{
  "editor.formatOnSave": true{{#if python}},
  "[python]": {
    "editor.defaultFormatter": "charliermarsh.ruff"
  }{{/if python}}{{#if go}},
  "go.formatTool": "gofumpt"{{/if go}}{{#if rust}},
  "[rust]": {
    "editor.defaultFormatter": "rust-lang.rust-analyzer"
  }{{/if rust}}
}
{{/if vscode}}